---
import Layout from '../layouts/Layout.astro';
import { AssistantView } from '../components/AssistantView';
---

<Layout title="Assistant - Retro Save Reader">
  <div class="pt-4 h-full flex flex-col">
    <AssistantView client:load />
  </div>
</Layout>
